@import './../variable.scss';

@media screen and (min-width: 640px) {
  .hx-content {
    .hx-advance-search {
      margin: (-$pm-md) 0 $pm-md (-$pm-md);
      border-radius: 0;
      @include wcalc(calc(100% + 32px));
    }
  }
  .hx-advance-search {
    background-color: white;
    padding: $pm-md;
    width: 100%;
    border-radius: $pm-sm/2;
    @include boxShadowNormal(false);
    position: relative;
    .btn-folder {
      @include centerHorizontal;
      background-color: white;
      color: $color-gray-deep;
      display: block;
      padding: 0 $pm-bg;
      height: $height-normal/2;
      border: none;
      border-radius: $height-normal/2;
      position: absolute;
      bottom: -$height-normal/4;
      font-size: 12px;
      @include boxShadowNormal(false);
      &:hover {
        background-color: $color-main;
        color: white;
      }
    }
    &.folded {
      height: $pm-md;
      padding-top: 0;
      padding-bottom: 0;
      .pad-search {
        transform: scaleY(.0);
      }
    }
    &.hx {
      padding: $pm-sm;
      height: auto;
    }
    .search-item {
      display: inline-block;
      padding: 0;
      width: 216px;
      vertical-align: top;
      margin-right: $pm-sm;
      margin-bottom: $pm-sm;
      transition: background-color .3s;
      &.long {
        width: 432px;
      }
      label {
        width: 100%;
        display: block;
        line-height: $font-sm * 2;
        padding-left: $pm-sm;
        font: {
          weight: 600;
          size: $font-sm;
        }
      }
      .content {
        width: 100%;
        input {
          height: $height-regular;
          border-radius: 0;
          font-size: $font-md;
        }
        select {
          border-radius: 0;
          font-size: $font-md;
        }
      }
      .search {
        width: 100%;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .hx-advance-search {
    position: absolute;
    left: 0;
    opacity: .0;
    top: 0;
    visibility: hidden;
    max-height: 60%;
    overflow: auto;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.4);
    transition: .3s;
    &.show {
      opacity: 1.0;
      top: $height-normal;
      visibility: visible;
    }
    .hx-row {
      border: none;
      .pad-edit {
        width: 100%!important;
        margin-right: 0!important;
      }
      label {
        width: 100px;
        padding-left: $pm-sm;
      }
      .search {
        margin: 0;
        width: 100%;
        .pad-datepicker {
          width: 100%!important;
        }
        input.input-select-date {
          //width: 100%!important;
        }
      }
    }
    .search-item {
      margin-bottom: $pm-sm;
      padding: 0 $pm-sm;
      width: 100%;
      display: block;
      label {
        line-height: $height-regular;
        font-size: $font-sm;
        color: $color-heavy;
        display: block;
        padding-left: $pm-sm;
      }
      .search {
        margin: 0;
        width: 100%;
        float: none;
        .pad-edit {
          width: 100%;
        }
      }
      .content {
        margin: 0;
        width: 100%;
        select, input {
          border-radius: 0;
          border: none;
        }
      }
    }
  }
}