@import "./../variable.scss";
.hx-calendar {
  height: 100%;
  width: 100%;
  display: block;
  background-color: white;
  .header, .pad-weeks {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .header {
    height: $height-navbar;
    padding: 0;
    position: relative;
    .btn-last-month,
    .btn-next-month  {
      background-color: white;
      height: $height-navbar;
      display: inline-block;
      &:hover {
        background-color: $color-gray-light;
      }
    }
    .text-current-month {
      @include centerInParent;
    }
    .btn-next-month  {
      float: right;
    }
  }
  .pad-weeks {
    height: $height-normal;
    .item {
      height: $height-normal;
      line-height: $height-normal;
      text-align: center;
      display: inline-block;
      color: $color-heavy;
      border: 1px solid $color-gray;
      border-right: none;
      &:first-child {
        border-left: none;
      }
    }
  }
  .pad-dates {
    .item {
      border: 1px solid $color-gray;
      border-right: none;
      padding: $pm-sm;
      margin-top: -1px;
      position: relative;
      z-index: 1;
      float: left;
      background-color: white;
      transition: transform .4s, box-shadow .4s;
      box-shadow: 0 0 0 rgba(0,0,0,.0);
      &.normal:hover {
        z-index: 10;
        transform: scale(1.1, 1.1);
        border: 1px solid $color-gray;
        box-shadow: $shadow-bg;
        .date {
          color: white;
          background-color: $color-main;
        }
      }
      &.today {
        .date {
          background-color: $color-yellow;
          color: $color-heavy;
        }
      }
      &.disabled {
        background-color: $color-gray-light;
        .date {
          color: $color-gray-deep;
        }
      }
      &:last-child {
        border-right: 1px solid $color-gray;
      }
      .date {
        padding: 0 $pm-sm;
        border-radius: 4px;
        font-size: $font-md;
        font-weight: 800;
        line-height: $height-navbar/2;
        height: $height-navbar/2;
        width: auto;
        display: inline-block;
      }
    }
  }
}
