@import './../variable.scss';

// 空内容容器模块样式
.hx-emptyset {
  height: 100%;
  width: 100%;
  min-height: 150px;
  display: flex;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: $color-gray-light;
  color: #eee;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font: {
    size: 30px;
    weight: 900;
  }
  &.md {
    font-size: 24px;
  }
  &.sm {
    font-size: 18px;
  }
}
