/**
 *  hx详情模块样式
 *  通过组合 hx-row 构建管理后台具有交互性的表单页面
 */

@import "./../variable.scss";

.hx-section {
  border: 1px solid $color-gray;
  position: relative;
  margin-bottom: $pm-md;
  background-color: white;
  @include boxShadow(0 10px 15px -10px rgba(0,0,0,.1));
  overflow: hidden;
  header {
    top: 0;
    left: 0;
    width: 100%;
    font-size: $font-md;
    line-height: $height-navbar;
    height: $height-navbar;
    padding: 0 $pm-md 0 $pm-lg;
    color: $color-heavy;
    position: absolute;
    &:before {
      content: "";
      height: $height-navbar/2;
      width: 3px;
      background-color: $color-main;
      @include centerVertical;
      display: block;
      left: $pm-md;
    }
    small {
      font-size: $font-md;
      color: $color-gray-deep;
      margin-left: $pm-sm;
    }
    button {
      min-height: $height-normal - $pm-sm;
      margin-left: $pm-sm;
      &.right {
        float: right;
        margin-top: ($height-navbar - $height-regular)/2;
      }
    }
  }
  .right {
    position: absolute;
    right: $pm-md;
    top: $pm-sm;
    button {
      margin-left: 5px;
    }
  }
  .hx-divider {
    height: 1px;
    width: 100%;
    display: block;
    margin: $pm-sm 0 0;
    padding: 0;
    background-color: $color-gray-light;
  }
  &.foldable {
    header:after {
      content: "";
      height: 6px;
      width: 12px;
      opacity: .7;
      background: url('~@/hxui/img/icon/icon-caret-down.png') no-repeat;
      background-size: 100% 100%;
      @include centerVertical;
      transform-origin: 50% 2px;
      transition: transform .4s;
      right: $pm-bg;
      display: block;
    }
    &.fold {
      height: $height-navbar!important;
      padding-top: $height-navbar;
      padding-bottom: 0;
      header:after {
        transform: rotate(180deg);
      }
    }
    .right {
      right: $pm-bg * 2;
    }
  }
}

@media screen and (min-width: 640px) {
  .hx-section {
    padding: ($height-normal+$pm-md) $pm-md $pm-md;
    @include borderRadius($border-radius-bg);
    @include boxShadow(0 10px 15px -10px rgba(0,0,0,.1));
    transition: box-shadow .4s, height .4s;
    &:hover {
      @include boxShadow(0 5px 20px rgba(0,0,0,.1));
    }
    &.half {
      display: inline-block;
      @include wcalc(calc(50% - 8px));
    }
    &.one-third {
      display: inline-block;
      @include wcalc(calc(33.33% - 8px));
    }
  }
}

@media screen and (max-width: 640px) {
  .hx-section {
    padding: $height-navbar $pm-md $pm-md;
    transition: height .4s;
    @include boxShadow(0 10px 15px -10px rgba(0,0,0,.1));
    header {
      padding: 0 $pm-md;
      button.right {
        margin-top: 0;
      }
    }
    header:before {
      content: "";
      height: $height-navbar/2;
      width: 3px;
      background-color: $color-main;
      @include centerVertical;
      display: block;
      left: $pm-md;
    }
    header:first-child {
      padding-left: 2 * $pm-md;
    }
    .hx-row:nth-last-child(1) {
      border: none;
    }
    .hx-divider {
      margin-top: $pm-md;
      background-color: transparent
    }
  }
}
