@import './../variable.scss';

.hx-tabbar {
  height: $height-regular;
  background-color: $color-gray;
  border-radius: $border-radius-md;
  overflow: hidden;
  .item {
    padding: 0 $pm-md;
    height: $height-regular;
    line-height: $height-regular;
    display: inline-block;
    border-radius: $border-radius-md;
    font-size: $font-sm;
    border: none;
    &.selected {
      background-color: $color-main;
      color: white;
    }
  }
}

@media screen and (max-width: 640px) {
  .hxui-tabbar {
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: $shadow-right-md;
    .item {
      flex: 1;
      text-align: center;
    }
  }
}
