@import './../variable.scss';

.hx-tabbar {
  display: inline-block;
  height: $height-regular;
  background-color: $color-gray;
  border-radius: $border-radius-md;
  overflow: hidden;
  position: relative;
  .item {
    padding: 0 $pm-md;
    height: $height-regular;
    line-height: $height-regular;
    display: inline-block;
    border-radius: $border-radius-md;
    font-size: $font-sm;
    border: none;
    cursor: default;
    position: relative;
    z-index: 2;
    transition: color .4s;
    &.selected {
      color: white;
    }
  }
  .move-item {
    z-index: 0;
    position: absolute;
    bottom: 0;
    border-radius: $border-radius-md;
    height: 100%;
    background-color: $color-main;
    transition: left .4s;
    display: block;
  }
  &.bar {
    background-color: transparent;
    .item.selected {
      color: $color-main;
    }
    .move-item {
      height: $pm-sm/2;
    }
  }
}

@media screen and (max-width: 640px) {
  .hxui-tabbar {
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: $shadow-right-md;
    .item {
      flex: 1;
      text-align: center;
    }
  }
}
