@import "./../variable.scss";
.hx-auto-complete {
  height: $height-regular;
  width: 100%;
  display: block;
  position: relative;
  z-index: 100;
  .text-option {
    font-size: $font-md;
  }
  .pad-options {
    font-size: $font-md;
    position: fixed;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: $shadow-bg;
    border-radius: $pm-sm/2;
    visibility: hidden;
    border: 1px solid $color-gray;
    opacity: .0;
    transition: all .4s;
    transform: translateY(-$pm-md);
    .option {
      width: 100%;
      display: block;
      padding: $pm-sm;
      @include nowrap;
      cursor: default;
      font-size: $font-md;
      color: $color-dark;
      &.selected { 
        background-color: rgba($color-main, .1);
      }
      &:hover {
        background-color: rgba($color-main, .05);
      }
    }
  }
  &.show {
    .pad-options {
      visibility: visible;
      opacity: 1.0;
      transform: translateY(0);
    }
  }
}
