@import "./../variable.scss";
.hx-checkbox-group {
  display: block;
  .item {
    margin: 0 $pm-sm $pm-sm/2 0;
    padding: $pm-sm/2;
    position: relative;
    background-color: transparent;
    transition: background-color .4s;
    font-size: $font-md;
    &.selected {
      .icon-check {
        background-color: $color-main;
        .icon {
          opacity: 1.0;
        }
      }
    }
    .icon-check {
      height: $height-normal/2;
      width: $height-normal/2;
      display: inline-flex;
      padding: $pm-sm/2;
      background-color: $color-gray;
      float: left;
      margin-right: $pm-sm;
      border-radius: $pm-sm/2;
      justify-content: center;
      align-items: center;
      transition: background-color .4s;
      .icon {
        height: 100%;
        width: 100%;
        opacity: .0;
        transition: opacity .4s;
      }
    }
    &.disabled {
      opacity: .6;
      .icon-check {
        cursor: not-allowed;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
}
