@import "./../variable.scss";
.hx-checkbox-group {
  display: block;
  .item {
    margin: 0 $pm-sm $pm-sm/2 0;
    padding: $pm-sm/2;
    position: relative;
    background-color: transparent;
    transition: background-color .4s;
    font-size: $font-md;
    &.selected {
      .icon-check {
        background-color: $color-main;
      }
      &:hover {
        .icon-check {
          background-color: darken($color-main, 5%);
        }
      }
    }
    .icon-check {
      height: $height-normal/2;
      width: $height-normal/2;
      display: inline-block;
      padding: $pm-sm/2;
      background-color: $color-gray-light;
      float: left;
      margin-right: $pm-sm;
      border-radius: $pm-sm/2;
    }
    &:hover {
      background-color: $color-gray-light;
    }
  }
}
