@import './../variable.scss';
.hx-dashboard {
  .item {
    padding: 0 $pm-md $pm-md;
    background-color: white;
    margin-bottom: $pm-md;
    display: inline-block;
    min-width: $height-navbar * 5;
    border: 1px solid $color-gray;
    position: relative;
    & + .item {
      margin-left: $pm-sm;
      vertical-align: top;
    }
    .header {
      line-height: $height-normal;
      height: $height-normal;
      font-size: $font-sm;
      color: $color-gray-deep;
      display: block;
    }
    .right {
      float: right;
    }
    .content {
      display: block;
      padding: 0;
      width: 100%;
      font: {
        weight: 500;
        size: $font-bg * 1.5;
      }
    }
    .btn-hover {
      display: none;
    }
    &:hover {
      .btn-hover {
        display: inline-block;
      }
    }
  }
  &.column {
    .item + .item {
      margin-left: 0;
    }
  }
}