@import "./../variable.scss";
.hx-options {
  display: inline-block;
  &.error {
    .item {
      box-shadow: 0 0 $pm-sm rgba($color-red, .6);
    }
  }
  .item {
    font-size: $font-sm;
    padding: $pm-sm $pm-md;
    border-radius: 10vw;
    background-color: #ddd;
    color: white;
    box-shadow: none;
    transition: box-shadow .4s;
    &.selected, &.selected:disabled {
      background-color: $color-main;
    }
    & + .item {
      margin-left: $pm-sm;
    }
  }
}
