@import "./../variable.scss";
.hx-radio-group {
  display: block;
  .item {
    margin-bottom: $pm-sm/2;
    padding: $pm-sm/2;
    position: relative;
    background-color: transparent;
    transition: background-color .3s;
    font-size: $font-md;
    & + .item {
      margin: 0 0 $pm-sm/2 $pm-sm;
    }
    &.selected {
      .icon-check::before {
        transform: scale(1.0, 1.0);
      }
    }
    .icon-check {
      height: $height-normal/2;
      width: $height-normal/2;
      display: inline-flex;
      padding: $pm-xs;
      background-color: $color-gray-light;
      float: left;
      margin-right: $pm-sm;
      border-radius: $height-normal/2;
      border: 1px solid $color-gray;
      justify-content: center;
      align-items: center;
      transition: background-color .3s;
      &.no-text {
        margin-right: 0;
      }
      &::before {
        content: "";
        height: 100%;
        width: 100%;
        background-color: $color-main;
        display: block;
        border-radius: 50% 50%;
        transform: scale(.0, .0);
        transition: transform .3s;
      }
    }
    &.disabled {
      opacity: .6;
      .icon-check {
        cursor: not-allowed;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
}
