@import "./../variable.scss";
$height-rank-md: $height-regular - $pm-sm;
$height-rank-sm: $height-regular - $pm-md; 
$height-rank-bg: $height-regular;
.hx-rank {
  display: block;
  text-align: center;
  width: auto;
  height: $height-rank-md;
  overflow: hidden;
  &::after {
    clear: both;
    content: "";
    display: block;
  }
  .item-star {
    display: inline-block;
    & + .item-star {
      margin-left: $pm-md * 2 / 3;
    }
    .icon {
      display: block;
      height: $height-rank-md;
      width: $height-rank-md;
    }
  }
  &.sm {
    height: $height-rank-sm;
    .item-star {
      & + .item-star {
        margin-left: 6px;
      }
      .icon {
        height: $height-rank-sm;
        width: $height-rank-sm;
      }
    }
  }
  &.bg {
    height: $height-regular;
    .item-star {
      & + .item-star {
        margin-left: $pm-md;
      }
      .icon {
        height: $height-regular;
        width: $height-regular;
      }
    }
  }
}
