@import "./../variable.scss";
.hx-rank {
  display: block;
  text-align: center;
  width: auto;
  height: $height-normal/2;
  overflow: hidden;
  &::after {
    clear: both;
    content: "";
    display: block;
  }
  .item-star {
    display: inline-block;
    & + .item-star {
      margin-left: $pm-md;
    }
    .icon {
      display: block;
      height: $height-normal/2;
      width: $height-normal/2;
    }
  }
  &.sm {
    height: $height-regular/2;
    .item-star {
      & + .item-star {
        margin-left: 6px;
      }
      .icon {
        height: $height-regular/2;
        width: $height-regular/2;
      }
    }
  }
  &.bg {
    height: $height-navbar/2;
    .item-star {
      .icon {
        height: $height-navbar/2;
        width: $height-navbar/2;
      }
    }
  }
}
