@import "./../variable.scss";
.hx-selector {
  height: $height-regular;
  width: 100%;
  display: block;
  position: relative;
  z-index: 100;
  cursor: default;
  &:hover {
    .btn-clear {
      display: block;
    }
  }
  .btn-clear {
    display: none;
    position: absolute;
    right: $pm-sm;
    top: $pm-sm;
    height: $height-regular - $pm-md;
    width: $height-regular - $pm-md;
    line-height: 0;
    text-align: center;
    background-color: transparent;
    padding: 0;
    font-size: $font-bg;
    &:hover {
      color: $color-red;
    }
  }
  .text-option {
    font-size: $font-md;
    cursor: default;
  }
  .pad-options {
    font-size: $font-md;
    top: 100%;
    background-color: white;
    width: 100%;
    @include centerHorizontal;
    padding: 0;
    box-shadow: 0 0px 20px rgba(0,0,0,.2);
    border-radius: $pm-sm;
    visibility: hidden;
    border: 1px solid $color-gray;
    opacity: .0;
    top: 100%;
    transition: all .4s;
    &::before {
      content: "";
      height: 0;
      width: 0;
      top: -7px;
      border-bottom: 7px solid white;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 0 solid transparent;
      position: absolute;
      @include centerHorizontal;
    }
    .pad-select-zone {
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      max-width: 200px;
      display: block;
      -webkit-overflow-scrolling: touch;
    }
    .option {
      width: 100%;
      display: block;
      padding: $pm-sm $pm-md;
      @include nowrap;
      cursor: default;
      font-size: $font-md;
      color: $color-dark;
      &.selected { 
        background-color: rgba($color-main, .1);
      }
      &:hover {
        background-color: rgba($color-main, .05);
      }
    }
  }
  &.show {
    .pad-options {
      visibility: visible;
      opacity: 1.0;
      top: calc(100% + #{$pm-md});
    }
  }
}
