@import "./../variable.scss";
.hx-tag-editor {
  .zone-tags {
    .tag {
      cursor: default;
      height: 30px;
      line-height: 30px;
      min-width: $height-normal;
      padding: 0 $pm-sm;
      background-color: white;
      text-align: center;
      color: $color-heavy;
      border-radius: $pm-sm/2;
      display: inline-block;
      border: 1px solid $color-gray;
      margin: $pm-sm/4 $pm-sm $pm-sm/4 0;
      position: relative;
      .btn-remove {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 0;
        display: none;
        background-color: rgba(255,255,255,.8);
        &:hover {
          color: $color-red;
        }
      }
      &:hover {
        .btn-remove {
          display: inline-block;
        }
      }
      &.disabled {
        background-color: #fafafa;
        cursor: not-allowed;
      }
    }
  }
  .tag-inputer {
    height: 30px;
    width: 140px;
    margin-top: $pm-sm/4;
    display: inline-block;
    border: none!important;
    background-color: transparent;
    padding: 0;
  }
}
