@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1080deg);
  }
}

.pad-loading-icon {
  position: relative;
  &.center {
    @include centerInParent;
    top: 40%;
  }
  &.row {
    .text-loading {
      display: inline-block;
      padding-left: $pm-md;
      vertical-align: top;
      margin-top: 0;
    }
  }
  &.column {
    width: auto;
    text-align: center;
    overflow-y: visible!important;
    .hx-loading-canvas {
      display: block;
      margin: 0 auto;
    }
  }
  .hx-loading-canvas {
    animation: rotating 6s linear infinite;
  }
  .text-loading {
    font-size: $font-md;
    padding-top: $pm-sm / 2;
    display: block;
    animation: breatheOpacity 3s infinite;
  }
}
