@import "./../variable.scss";

/**
  全局按钮样式
 */

// 实心按钮
.hx-tag {
  @include hxTag(white, ($height-regular - 8px));
  position: relative;
  color: $color-heavy;
  background-color: $color-gray-light;
  height: $height-regular - 8px;
  line-height: $height-regular - 8px;
  border: 1px solid $color-gray;
  display: inline-block;
  cursor: default;
  border-radius: 2px;
  margin-bottom: 6px;
  & + & {
    margin-left: $pm-sm;
  }
  &.material {
    box-shadow: $shadow-material;
  }
  &.main    {  @include hxTag($color-main);  }
  &.gray    {  @include hxTag(darken($color-gray-deep, 14%));  }
  &.orange, &.warn  {  @include hxTag($color-orange);  }
  &.red, &.error     {  @include hxTag($color-red);  }
  &.blue, &.info    {  @include hxTag($color-blue);  }
  &.green, &.success   {  @include hxTag($color-green);  }
  &.excel   {  @include hxTag($color-green-excel);  }
  &.pink    {  @include hxTag($color-pink);  }
  &.yellow  {  @include hxTag($color-golden, $color-heavy);  }
}

// 空心按钮
.hx-tag.blank {
  @include hxBlankTag($color-main);
  &:disabled, &.disabled {
    background-color: darken($color-gray, 5%)!important;
    cursor: not-allowed;
    border: 1px solid darken($color-gray, 5%)!important;
    color: $color-gray-deep!important;
    &:hover {
      background-color: darken($color-gray, 5%)!important;
    }
  }
  &.gray {  @include hxBlankTag(darken($color-gray-deep, 14%));  }
  &.orange, &.warn {  @include hxBlankTag($color-orange);  }
  &.red, &.error {  @include hxBlankTag($color-red);  }
  &.blue, &.info {  @include hxBlankTag($color-blue);  }
  &.green, &.success {  @include hxBlankTag($color-green);  }
  &.excel   {  @include hxBlankTag($color-green-excel);  }
  &.pink    {  @include hxBlankTag($color-pink);  }
  &.yellow  {  @include hxBlankTag($color-golden);  }
}

// 按钮尺寸
.hx-tag.sm {
  height: $height-normal/2;
  line-height: $height-normal/2;
  padding: 0 $pm-sm/2;
}
.hx-tag.bg {
  height: $height-regular;
  line-height: $height-regular;
}
