@import "./../variable.scss";

.hx-header {
  z-index: 10;
  position: relative;
  height: $height-navbar;
  border-bottom: 1px solid $color-gray;
  padding: $pm-sm $pm-md;
  $height-content: $height-navbar - $pm-md;
  @include boxShadow(0 0 24px rgba(0,0,0,.1));
  .title{
    display: inline-block;
    font-size: $font-bg;
    height: $height-content;
    line-height: $height-content;
    color: $color-heavy;
    margin-left: 0;
    strong {
      color: $color-main;
      font: {
        size: $font-bg;
        weight: 800;
      }
    }
  }
  .right {
    display: inline-block;
    width: auto;
    float: right;
    .hx-button {
      height: 30px;
    }
  }
  .btn-back {
    background-color: transparent;
    color: $color-gray-deep;
  }
  .btn-right {
  }
}

@media screen and (min-width: 640px) {
  .hx-header {
    .btn-back {
      &:hover {
        color: $color-main;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  $color-header-word: $color-white;  // 统一修改此处调整导航条文字或iconfont字体颜色
  .hx-header {
    background-color: $color-main;
    color: $color-header-word;
    .title {
      z-index: 10;
      display: inline-block;
      padding: 0;
      color: $color-header-word;
      height: $height-normal;
      @include centerHorizontal;
      font: {
        weight: 500;
        size: 16px;
      }
      strong {
        color: $color-header-word;
        font: {
          weight: 600;
          size: $font-md + 3px;
        }
      }
    }
    .btn-left,
    .btn-back,
    .btn-right {
      color: $color-header-word;
      height: $height-regular;
    }
    .btn-left, .btn-back {
      margin-left: $pm-bg;
    }
    .hx-search {
      z-index: 1001;
      float: right;
      background-color: red;
      button {
        color: $color-header-word;
      }
    }
    .hx-goback-button {
      left: $height-normal;
      position: relative;
      padding: 0;
      top: -1px;
      border: none;
    }
  }
}
